<launch>
  <param name="robot_description" command="xacro '$(find eeduro_delta_description)/urdf/eeduro_delta.urdf.xacro'"/>
  <arg name="jsp_use_gui" default="false"/>

	<node name="eeduro_delta_joint_state_publisher" pkg="eeduro_delta_joint_state_publisher" type="eeduro_delta_joint_state_publisher_node" output="screen"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
		<param name="use_gui" value="$(arg jsp_use_gui)"/>
    <param name="rate" value="1000"/>
		<rosparam param="source_list">["/eeduro_delta_joint_state_publisher/joint_states"]</rosparam>
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
		<param name="ignore_timestamp" value="true"/>
	</node>

	<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find eeduro_delta_description)/launch/eeduro_delta.rviz"/>

</launch>

