<launch>
	<arg name="paused" default="true"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="$(arg paused)"/>
	</include>

	<param name="robot_description" command="cat $(find eeduro_delta_description)/urdf/eeduro_delta.urdf"/>
<!--	<param name="robot_description" command="cat $(find motor_description)/urdf/motor.urdf"/> -->

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -model eeduro_delta -param robot_description"/>

</launch>
